{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href='{{ asset('bundles/npnews/css/home.css' ) }}' type='text/css' rel='stylesheet' />
{% endblock %}
{% block body %}
    {% if is_user_admin %}
        <div id='controls'>
        <a href='{{ path('np_news_pull') }}' class='action-pull'>Pull all feeds</a>
        <a href='{{ path('admin_feeds') }}' class='action-edit-feeds'>Edit feed list</a>
        </div>
    {% endif %}
    {% if message %}
        <div id='message'>{{ message }}</div>
    {% endif %}
    <ul id='feed_items'>
    {% for item in feed_items %}
        <li>
            <div class='title'>{{ item.title }}</div>
            <div class='url'>{{ item.url }}</div>
            <div class='publish_time'>{{ item.publish_time }}</div>
            <div class='description'>{{ item.description|raw }}</div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}